/*------------------------------------------------------*/
/* FULL WIDTH ANIMATED LAYERS 003
/*------------------------------------------------------*/
#fw_al_003 {
  overflow: hidden;
  max-height: 658px;
  position: relative;
  background: #000000;
}
#fw_al_003:hover {
  cursor: -moz-grab;
  cursor: -webkit-grab;
}
#fw_al_003:active {
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}
#fw_al_003 > .carousel-inner > .carousel-item > img,
#fw_al_003 > .carousel-inner > .carousel-item > a > img {
  opacity: 0.4;
  margin: auto;
  width: 100% !important;
}
.ps_fade {
  opacity: 1;
}
.ps_fade .carousel-item {
  top: 0;
  z-index: 1;
  opacity: 0;
  width: 100%;
  position: absolute;
  left: 0 !important;
  display: block !important;
  -webkit-transition: opacity ease-in-out 1s;
  -moz-transition: opacity ease-in-out 1s;
  -ms-transition: opacity ease-in-out 1s;
  -o-transition: opacity ease-in-out 1s;
  transition: opacity ease-in-out 1s;
}
.ps_fade .carousel-item:first-child {
  top: auto;
  position: relative;
}
.ps_fade .carousel-item.active {
  opacity: 1;
  z-index: 2;
  -webkit-transition: opacity ease-in-out 1s;
  -moz-transition: opacity ease-in-out 1s;
  -ms-transition: opacity ease-in-out 1s;
  -o-transition: opacity ease-in-out 1s;
  transition: opacity ease-in-out 1s;
}
/*---------- LEFT/RIGHT CONTROL ----------*/
.ps_control_bsquare .carousel-control {
  top: 45%;
  opacity: 0;
  width: 70px;
  height: 70px;
  z-index: 100;
  color: #ffffff;
  display: block;
  font-size: 32px;
  cursor: pointer;
  overflow: hidden;
  line-height: 70px;
  text-shadow: none;
  position: absolute;
  font-weight: normal;
  background: transparent;
  border: 2px solid rgba(255,255,255,1);
  -webkit-border-radius: 0px;
  border-radius: 0px;
}
.ps_control_bsquare:hover .carousel-control{
  opacity: 1;
}
.ps_control_bsquare .carousel-control.left {
  left: 1%;
}
.ps_control_bsquare .carousel-control.right {
  right: 1%;
}
.ps_control_bsquare .carousel-control.left:hover,
.ps_control_bsquare .carousel-control.right:hover{
 color: #000000;
 background: #ffffff;
}
.ps_control_bsquare .carousel-control.left>span:nth-child(1){
 left: 45%;
}
.ps_control_bsquare .carousel-control.right>span:nth-child(1){
 right: 45%;
}
/*---------- SLIDE CAPTION ----------*/
.fw_al_003_slide {
  left: 0;
  top: 25%;
  right: 0;
  margin: auto;
  padding: 10px;
  position: absolute;
  text-align: center;
}
.fw_al_003_slide > h1 {
  padding: 0;
  color: #ffffff;
  font-size: 60px;
  font-weight: 700;
  line-height: 60px;
  margin-bottom: 40px;
  letter-spacing: 2px; 
  display: inline-block;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  -webkit-animation-delay: 0.7s;
  animation-delay: 0.7s;
}
.fw_al_003_slide > p {
  padding: 0;
  color: #ffffff;
  font-size: 30px;
  line-height: 36px;
  font-weight: normal;
  margin-bottom: 40px;
  font-family: 'Open Sans', sans-serif;
  -webkit-animation-delay: 2.1s;
  animation-delay: 2.1s;
}
.fw_al_003_slide > a,
.fw_al_003_slide > a:visited {
  color: #ffffff;
  font-size: 18px;
  cursor: pointer;
  font-weight: 400;
  line-height: 18px;
  text-align: center;
  padding: 13px 35px;
  white-space: nowrap;
  letter-spacing: 0px;
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  border: 2px solid #ffffff;
  font-family: 'Montserrat', sans-serif;
  -webkit-border-radius: 0px;
  border-radius: 0px;
  -webkit-animation-delay: 1.4s;
  animation-delay: 1.4s;
}
.fw_al_003_slide > a:hover,
.fw_al_003_slide > a:active {
  color: #000000;
  background: #ffffff;
}
/*------------------------------------------------------*/
/* RESPONSIVE
/*------------------------------------------------------*/

/*---------- MEDIA 480px ----------*/
@media only screen and (max-width: 480px) {
  /*---------- SLIDE CAPTION ----------*/
  .fw_al_003_slide {
    top: 10%;
	padding: 0;
  }
  .fw_al_003_slide > h1 {
    font-size: 18px;
    line-height: 18px;
    margin-bottom: 10px;
  }
  .fw_al_003_slide > p {
	font-size: 14px;
	line-height: 28px;
	margin-bottom: 10px;
  }
  /*---------- LEFT/RIGHT CONTROL ----------*/
  .ps_control_bsquare .carousel-control {
    display: none;
  }
}

/*---------- MEDIA 481px - 600px ----------*/
@media (min-width: 481px) and (max-width: 600px) {
  /*---------- SLIDE CAPTION ----------*/
  .fw_al_003_slide > h1 {
    font-size: 28px;
    line-height: 28px;
    margin-bottom: 10px;
  }
  .fw_al_003_slide > p {
	font-size: 20px;
	margin-bottom: 10px;
  }
}

/*---------- MEDIA 601px - 767px ----------*/
@media (min-width: 601px) and (max-width: 767px) {
  /*---------- SLIDE CAPTION ----------*/
  .fw_al_003_slide {
	top: 10%;
  }
  .fw_al_003_slide > h1 {
    font-size: 35px;
    line-height: 35px;
  }
  .fw_al_003_slide > p {
	font-size: 25px;
  }
}
/*---------- MEDIA 768px - 889px ----------*/
@media (min-width: 768px) and (max-width: 889px) {
  /*---------- SLIDE CAPTION ----------*/
  .fw_al_003_slide > h1 {
    font-size: 45px;
    line-height: 45px;
  }
}
/*---------- MEDIA 890px - 950px ----------*/
@media (min-width: 890px) and (max-width: 950px) {
  /*---------- SLIDE CAPTION ----------*/
  .fw_al_003_slide > h1 {
    font-size: 55px;
    line-height: 55px;
  }
}
/*------------------------------------------------------*/
/* SLIDING TIMING FUNCTIONS
/*------------------------------------------------------*/

/*---------- ps_ease ----------*/
.ps_ease .carousel-inner > .carousel-item{
  -webkit-transition-timing-function: ease;
  -moz-transition-timing-function: ease;
  -ms-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  transition-timing-function: ease;
}
@media all and (transform-3d), (-webkit-transform-3d){
  .ps_ease .carousel-inner > .carousel-item {
    -webkit-transition-timing-function: ease;
    -moz-transition-timing-function: ease;
    -ms-transition-timing-function: ease;
    -o-transition-timing-function: ease;
    transition-timing-function: ease;
  }
}

/*---------- ps_easeInOut ----------*/
.ps_easeInOut .carousel-inner > .carousel-item{
  -webkit-transition-timing-function: ease-in-out;
  -moz-transition-timing-function: ease-in-out;
  -ms-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
}
@media all and (transform-3d), (-webkit-transform-3d){
  .ps_easeInOut .carousel-inner > .carousel-item {
    -webkit-transition-timing-function: ease-in-out;
    -moz-transition-timing-function: ease-in-out;
    -ms-transition-timing-function: ease-in-out;
    -o-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
  }
}

/*---------- ps_speedy ----------*/
.ps_speedy .carousel-inner > .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(0,1,0,1);
  -moz-transition-timing-function: cubic-bezier(0,1,0,1);
  -ms-transition-timing-function: cubic-bezier(0,1,0,1);
  -o-transition-timing-function: cubic-bezier(0,1,0,1);
  transition-timing-function: cubic-bezier(0,1,0,1);
}
@media all and (transform-3d), (-webkit-transform-3d){
  .ps_speedy .carousel-inner > .carousel-item {
    -webkit-transition-timing-function: cubic-bezier(0,1,0,1);
    -moz-transition-timing-function: cubic-bezier(0,1,0,1);
    -ms-transition-timing-function: cubic-bezier(0,1,0,1);
    -o-transition-timing-function: cubic-bezier(0,1,0,1);
    transition-timing-function: cubic-bezier(0,1,0,1);
  }
}

/*---------- ps_slowSpeedy ----------*/
.ps_slowSpeedy .carousel-inner > .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(0.3,1,0,1);
  -moz-transition-timing-function: cubic-bezier(0.3,1,0,1);
  -ms-transition-timing-function: cubic-bezier(0.3,1,0,1);
  -o-transition-timing-function: cubic-bezier(0.3,1,0,1);
  transition-timing-function: cubic-bezier(0.3,1,0,1);
}
@media all and (transform-3d), (-webkit-transform-3d){
  .ps_slowSpeedy .carousel-inner > .carousel-item {
    -webkit-transition-timing-function: cubic-bezier(0.3,1,0,1);
    -moz-transition-timing-function: cubic-bezier(0.3,1,0,1);
    -ms-transition-timing-function: cubic-bezier(0.3,1,0,1);
    -o-transition-timing-function: cubic-bezier(0.3,1,0,1);
    transition-timing-function: cubic-bezier(0.3,1,0,1);
  }
}

/*---------- ps_easeOutInCubic ----------*/
.ps_easeOutInCubic .carousel-inner > .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(0.22,0.81,0.01,0.99);
  -moz-transition-timing-function: cubic-bezier(0.22,0.81,0.01,0.99);
  -ms-transition-timing-function: cubic-bezier(0.22,0.81,0.01,0.99);
  -o-transition-timing-function: cubic-bezier(0.22,0.81,0.01,0.99);
  transition-timing-function: cubic-bezier(0.22,0.81,0.01,0.99);
}
@media all and (transform-3d), (-webkit-transform-3d){
  .ps_easeOutInCubic .carousel-inner > .carousel-item {
    -webkit-transition-timing-function: cubic-bezier(0.22,0.81,0.01,0.99);
    -moz-transition-timing-function: cubic-bezier(0.22,0.81,0.01,0.99);
    -ms-transition-timing-function: cubic-bezier(0.22,0.81,0.01,0.99);
    -o-transition-timing-function: cubic-bezier(0.22,0.81,0.01,0.99);
    transition-timing-function: cubic-bezier(0.22,0.81,0.01,0.99);
  }
}

/*---------- ps_swing ----------*/
.ps_swing .carousel-inner > .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.02,.01,.47,1);
  -moz-transition-timing-function: cubic-bezier(.02,.01,.47,1);
  -ms-transition-timing-function: cubic-bezier(.02,.01,.47,1);
  -o-transition-timing-function: cubic-bezier(.02,.01,.47,1);
  transition-timing-function: cubic-bezier(.02,.01,.47,1);
}
@media all and (transform-3d), (-webkit-transform-3d){
  .ps_swing .carousel-inner > .carousel-item {
    -webkit-transition-timing-function: cubic-bezier(.02,.01,.47,1);
    -moz-transition-timing-function: cubic-bezier(.02,.01,.47,1);
    -ms-transition-timing-function: cubic-bezier(.02,.01,.47,1);
    -o-transition-timing-function: cubic-bezier(.02,.01,.47,1);
    transition-timing-function: cubic-bezier(.02,.01,.47,1);
  }
}

/*---------- ps_easeOutCubic ----------*/
.ps_easeOutCubic .carousel-inner > .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.215,.61,.355,1);
  -moz-transition-timing-function: cubic-bezier(.215,.61,.355,1);
  -ms-transition-timing-function: cubic-bezier(.215,.61,.355,1);
  -o-transition-timing-function: cubic-bezier(.215,.61,.355,1);
  transition-timing-function: cubic-bezier(.215,.61,.355,1);
}
@media all and (transform-3d), (-webkit-transform-3d){
  .ps_easeOutCubic .carousel-inner > .carousel-item {
    -webkit-transition-timing-function: cubic-bezier(.215,.61,.355,1);
    -moz-transition-timing-function: cubic-bezier(.215,.61,.355,1);
    -ms-transition-timing-function: cubic-bezier(.215,.61,.355,1);
    -o-transition-timing-function: cubic-bezier(.215,.61,.355,1);
    transition-timing-function: cubic-bezier(.215,.61,.355,1);
  }
}

/*---------- ps_easeInOutCubic ----------*/
.ps_easeInOutCubic .carousel-inner > .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.645,.045,.355,1);
  -moz-transition-timing-function: cubic-bezier(.645,.045,.355,1);
  -ms-transition-timing-function: cubic-bezier(.645,.045,.355,1);
  -o-transition-timing-function: cubic-bezier(.645,.045,.355,1);
  transition-timing-function: cubic-bezier(.645,.045,.355,1);
}
@media all and (transform-3d), (-webkit-transform-3d){
  .ps_easeInOutCubic .carousel-inner > .carousel-item {
    -webkit-transition-timing-function: cubic-bezier(.645,.045,.355,1);
    -moz-transition-timing-function: cubic-bezier(.645,.045,.355,1);
    -ms-transition-timing-function: cubic-bezier(.645,.045,.355,1);
    -o-transition-timing-function: cubic-bezier(.645,.045,.355,1);
    transition-timing-function: cubic-bezier(.645,.045,.355,1);
  }
}

/*---------- ps_easeOutCirc ----------*/
.ps_easeOutCirc .carousel-inner > .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.075,.82,.165,1);
  -moz-transition-timing-function: cubic-bezier(.075,.82,.165,1);
  -ms-transition-timing-function: cubic-bezier(.075,.82,.165,1);
  -o-transition-timing-function: cubic-bezier(.075,.82,.165,1);
  transition-timing-function: cubic-bezier(.075,.82,.165,1);
}
@media all and (transform-3d), (-webkit-transform-3d){
  .ps_easeOutCirc .carousel-inner > .carousel-item {
    -webkit-transition-timing-function: cubic-bezier(.075,.82,.165,1);
    -moz-transition-timing-function: cubic-bezier(.075,.82,.165,1);
    -ms-transition-timing-function: cubic-bezier(.075,.82,.165,1);
    -o-transition-timing-function: cubic-bezier(.075,.82,.165,1);
    transition-timing-function: cubic-bezier(.075,.82,.165,1);
  }
}

/*---------- ps_easeOutExpo ----------*/
.ps_easeOutExpo .carousel-inner > .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.19,1,.22,1);
  -moz-transition-timing-function: cubic-bezier(.19,1,.22,1);
  -ms-transition-timing-function: cubic-bezier(.19,1,.22,1);
  -o-transition-timing-function: cubic-bezier(.19,1,.22,1);
  transition-timing-function: cubic-bezier(.19,1,.22,1);
}
@media all and (transform-3d), (-webkit-transform-3d){
  .ps_easeOutExpo .carousel-inner > .carousel-item {
    -webkit-transition-timing-function: cubic-bezier(.19,1,.22,1);
    -moz-transition-timing-function: cubic-bezier(.19,1,.22,1);
    -ms-transition-timing-function: cubic-bezier(.19,1,.22,1);
    -o-transition-timing-function: cubic-bezier(.19,1,.22,1);
    transition-timing-function: cubic-bezier(.19,1,.22,1);
  }
}

/*---------- ps_easeInQuad ----------*/
.ps_easeInQuad .carousel-inner > .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.55,.085,.68,.53);
  -moz-transition-timing-function: cubic-bezier(.55,.085,.68,.53);
  -ms-transition-timing-function: cubic-bezier(.55,.085,.68,.53);
  -o-transition-timing-function: cubic-bezier(.55,.085,.68,.53);
  transition-timing-function: cubic-bezier(.55,.085,.68,.53);
}
@media all and (transform-3d), (-webkit-transform-3d){
  .ps_easeInQuad .carousel-inner > .carousel-item {
    -webkit-transition-timing-function: cubic-bezier(.55,.085,.68,.53);
    -moz-transition-timing-function: cubic-bezier(.55,.085,.68,.53);
    -ms-transition-timing-function: cubic-bezier(.55,.085,.68,.53);
    -o-transition-timing-function: cubic-bezier(.55,.085,.68,.53);
    transition-timing-function: cubic-bezier(.55,.085,.68,.53);
  }
}

/*---------- ps_easeOutQuad ----------*/
.ps_easeOutQuad .carousel-inner > .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.25,.46,.45,.94);
  -moz-transition-timing-function: cubic-bezier(.25,.46,.45,.94);
  -ms-transition-timing-function: cubic-bezier(.25,.46,.45,.94);
  -o-transition-timing-function: cubic-bezier(.25,.46,.45,.94);
  transition-timing-function: cubic-bezier(.25,.46,.45,.94);
}
@media all and (transform-3d), (-webkit-transform-3d){
  .ps_easeOutQuad .carousel-inner > .carousel-item {
    -webkit-transition-timing-function: cubic-bezier(.25,.46,.45,.94);
    -moz-transition-timing-function: cubic-bezier(.25,.46,.45,.94);
    -ms-transition-timing-function: cubic-bezier(.25,.46,.45,.94);
    -o-transition-timing-function: cubic-bezier(.25,.46,.45,.94);
    transition-timing-function: cubic-bezier(.25,.46,.45,.94);
  }
}

/*---------- ps_easeInOutQuad ----------*/
.ps_easeInOutQuad .carousel-inner > .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.455,.03,.515,.955);
  -moz-transition-timing-function: cubic-bezier(.455,.03,.515,.955);
  -ms-transition-timing-function: cubic-bezier(.455,.03,.515,.955);
  -o-transition-timing-function: cubic-bezier(.455,.03,.515,.955);
  transition-timing-function: cubic-bezier(.455,.03,.515,.955);
}
@media all and (transform-3d), (-webkit-transform-3d){
  .ps_easeInOutQuad .carousel-inner > .carousel-item {
    -webkit-transition-timing-function: cubic-bezier(.455,.03,.515,.955);
    -moz-transition-timing-function: cubic-bezier(.455,.03,.515,.955);
    -ms-transition-timing-function: cubic-bezier(.455,.03,.515,.955);
    -o-transition-timing-function: cubic-bezier(.455,.03,.515,.955);
    transition-timing-function: cubic-bezier(.455,.03,.515,.955);
  }
}

/*---------- ps_easeOutQuart ----------*/
.ps_easeOutQuart .carousel-inner > .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.165,.84,.44,1);
  -moz-transition-timing-function: cubic-bezier(.165,.84,.44,1);
  -ms-transition-timing-function: cubic-bezier(.165,.84,.44,1);
  -o-transition-timing-function: cubic-bezier(.165,.84,.44,1);
  transition-timing-function: cubic-bezier(.165,.84,.44,1);
}
@media all and (transform-3d), (-webkit-transform-3d){
  .ps_easeOutQuart .carousel-inner > .carousel-item {
    -webkit-transition-timing-function: cubic-bezier(.165,.84,.44,1);
    -moz-transition-timing-function: cubic-bezier(.165,.84,.44,1);
    -ms-transition-timing-function: cubic-bezier(.165,.84,.44,1);
    -o-transition-timing-function: cubic-bezier(.165,.84,.44,1);
    transition-timing-function: cubic-bezier(.165,.84,.44,1);
  }
}

/*---------- ps_easeInOutQuart ----------*/
.ps_easeInOutQuart .carousel-inner > .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.77,0,.175,1);
  -moz-transition-timing-function: cubic-bezier(.77,0,.175,1);
  -ms-transition-timing-function: cubic-bezier(.77,0,.175,1);
  -o-transition-timing-function: cubic-bezier(.77,0,.175,1);
  transition-timing-function: cubic-bezier(.77,0,.175,1);
}
@media all and (transform-3d), (-webkit-transform-3d){
  .ps_easeInOutQuart .carousel-inner > .carousel-item {
    -webkit-transition-timing-function: cubic-bezier(.77,0,.175,1);
    -moz-transition-timing-function: cubic-bezier(.77,0,.175,1);
    -ms-transition-timing-function: cubic-bezier(.77,0,.175,1);
    -o-transition-timing-function: cubic-bezier(.77,0,.175,1);
    transition-timing-function: cubic-bezier(.77,0,.175,1);
  }
}

/*---------- ps_easeOutQuint ----------*/
.ps_easeOutQuint .carousel-inner > .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.23,1,.32,1);
  -moz-transition-timing-function: cubic-bezier(.23,1,.32,1);
  -ms-transition-timing-function: cubic-bezier(.23,1,.32,1);
  -o-transition-timing-function: cubic-bezier(.23,1,.32,1);
  transition-timing-function: cubic-bezier(.23,1,.32,1);
}
@media all and (transform-3d), (-webkit-transform-3d){
  .ps_easeOutQuint .carousel-inner > .carousel-item {
    -webkit-transition-timing-function: cubic-bezier(.23,1,.32,1);
    -moz-transition-timing-function: cubic-bezier(.23,1,.32,1);
    -ms-transition-timing-function: cubic-bezier(.23,1,.32,1);
    -o-transition-timing-function: cubic-bezier(.23,1,.32,1);
    transition-timing-function: cubic-bezier(.23,1,.32,1);
  }
}

/*---------- ps_easeInSine ----------*/
.ps_easeInSine .carousel-inner > .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.47,0,.745,.715);
  -moz-transition-timing-function: cubic-bezier(.47,0,.745,.715);
  -ms-transition-timing-function: cubic-bezier(.47,0,.745,.715);
  -o-transition-timing-function: cubic-bezier(.47,0,.745,.715);
  transition-timing-function: cubic-bezier(.47,0,.745,.715);
}
@media all and (transform-3d), (-webkit-transform-3d){
  .ps_easeInSine .carousel-inner > .carousel-item {
    -webkit-transition-timing-function: cubic-bezier(.47,0,.745,.715);
    -moz-transition-timing-function: cubic-bezier(.47,0,.745,.715);
    -ms-transition-timing-function: cubic-bezier(.47,0,.745,.715);
    -o-transition-timing-function: cubic-bezier(.47,0,.745,.715);
    transition-timing-function: cubic-bezier(.47,0,.745,.715);
  }
}

/*---------- ps_easeOutSine ----------*/
.ps_easeOutSine .carousel-inner > .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.39,.575,.565,1);
  -moz-transition-timing-function: cubic-bezier(.39,.575,.565,1);
  -ms-transition-timing-function: cubic-bezier(.39,.575,.565,1);
  -o-transition-timing-function: cubic-bezier(.39,.575,.565,1);
  transition-timing-function: cubic-bezier(.39,.575,.565,1);
}
@media all and (transform-3d), (-webkit-transform-3d){
  .ps_easeOutSine .carousel-inner > .carousel-item {
    -webkit-transition-timing-function: cubic-bezier(.39,.575,.565,1);
    -moz-transition-timing-function: cubic-bezier(.39,.575,.565,1);
    -ms-transition-timing-function: cubic-bezier(.39,.575,.565,1);
    -o-transition-timing-function: cubic-bezier(.39,.575,.565,1);
    transition-timing-function: cubic-bezier(.39,.575,.565,1);
  }
}

/*---------- ps_easeInOutSine ----------*/
.ps_easeInOutSine .carousel-inner > .carousel-item{
  -webkit-transition-timing-function: cubic-bezier(.445,.05,.55,.95);
  -moz-transition-timing-function: cubic-bezier(.445,.05,.55,.95);
  -ms-transition-timing-function: cubic-bezier(.445,.05,.55,.95);
  -o-transition-timing-function: cubic-bezier(.445,.05,.55,.95);
  transition-timing-function: cubic-bezier(.445,.05,.55,.95);
}
@media all and (transform-3d), (-webkit-transform-3d){
  .ps_easeInOutSine .carousel-inner > .carousel-item {
    -webkit-transition-timing-function: cubic-bezier(.445,.05,.55,.95);
    -moz-transition-timing-function: cubic-bezier(.445,.05,.55,.95);
    -ms-transition-timing-function: cubic-bezier(.445,.05,.55,.95);
    -o-transition-timing-function: cubic-bezier(.445,.05,.55,.95);
    transition-timing-function: cubic-bezier(.445,.05,.55,.95);
  }
}